@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Nossas Cores Premium */
    --color-premium: #fbf9f6;
    --color-midnight: #0a1424;
    --color-midnight-muted: #16243a;
    --color-champagne: #c5a880;
    --color-champagne-hover: #b3956d;

    /* Novas Fontes Clássicas e de Autoridade */
    --font-title: 'Cormorant Garamond', serif;
    --font-body: 'Lato', sans-serif;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}